
{% extends "../extensible_templates/main_nav.html" %}
{% import "../check_in_templates/macros.html" as macros %}

{% block title %}Check In{% endblock %}

{% block content %}

  <div id="{{ ids.shopping_cart_container }}">
    {% call macros::render_shopping_cart_button(shopping_cart.items.len()) %}
    {% call macros::render_shopping_cart(shopping_cart) %}
  </div>
  <div>
    <div class="my-container pb-28">
      <p class="my-kicker">Door</p>
      <h1 class="my-title">Check In</h1>
      <p class="my-paragraph mb-8 max-w-xl">
        Pick a lesson or social, add it to your cart, and pay.
      </p>
      <div class="space-y-4">
        {% for group in groups %}
          {% if group.is_named() %}
            <details class="my-product-group">
              <summary>{{ group.name }}</summary>
              <div class="my-grid my-stagger">
                {% for product in group.products %}
                  {% call macros::render_product_card(product, is_admin, roles) %}
                {% endfor %}
              </div>
            </details>
          {% else %}
            <div class="my-grid my-stagger">
              {% for product in group.products %}
                {% call macros::render_product_card(product, is_admin, roles) %}
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>


      {% if !something_is_displayed %}
        <div class="my-section">
          <div class="my-fineprint text-center">
            There are no products available for you to select. If you think this is an error, contact an administrator.
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
