{% extends "../extensible_templates/main_nav.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="my-card">
  <h2 class="my-title">Contact</h2>
  <p class="my-paragraph mb-4">
    Dancexam was built by <strong>Corrado “Cory” Mazzarelli</strong>.
  </p>
  <p class="my-paragraph">
    Have a question, comment, or concern?  
    Send me an email at  
    <a href="mailto:corrado@mazzarelli.biz" class="text-primary-400 hover:underline">
      corrado@mazzarelli.biz
    </a>
  </p>
</div>
{% endblock %}
