{% extends "../extensible_templates/main_nav.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="my-container">
    <div class="my-grid">

        <!-- Card 1: Purpose of Dancexam -->
        <div class="my-card ">
            <div class="p-6">
                <h2 class="my-title">Welcome to Dancexam</h2>
                <p class="my-paragraph">
                    Dancexam was originally built for the Greenville Westies to provide a digital workflow for grading our community members as they tried to pass the advancement test to move from the beginner+ lesson to the advanced lesson.
                </p>
            </div>
        </div>

    </div>
</div>
{% endblock %}
