@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Primary colors */
  --color-primary-100: #84CEA0;
  --color-primary-200: #54B277;
  --color-primary-300: #339959;
  --color-primary-400: #1C8342;
  --color-primary-500: #09682C;

  /* Secondary colors */
  --color-secondary-100: #7CABBD;
  --color-secondary-200: #4C849A;
  --color-secondary-300: #306D84;
  --color-secondary-400: #1C5A71;
  --color-secondary-500: #0B445A;

  /* Accent colors */
  --color-accent-100: #CAF099;
  --color-accent-200: #ACDF69;
  --color-accent-300: #89C041;
  --color-accent-400: #6DA523;
  --color-accent-500: #4F830B;

  --font-sans: "Inter", sans-serif;

}


@layer components {

  /* Container Classes */

  /* The overall container used on the #primary-content class */
  /* Limits the width of the content on the page. */
  /* Should not be used anywhere else */
  .my-container {
    @apply container min-h-screen mx-auto px-6 py-10;
  }

  /* The sections used to delineate different blocks of content */
  /* For instance, widgets should be contained within a section */
  .my-section {
    @apply bg-white rounded-2xl p-8 shadow-lg mt-10 transition hover:shadow-xl;
  }
  
  /* A fixed one or two column grid. Used to organize cards. */
  .my-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
  }

  /* A dynamically sized flexbox. */
  .my-flexbox {
    @apply flex flex-col md:flex-row md:flex-wrap justify-center items-center gap-4 mt-4 h-full;
  }

  .my-card {
    @apply bg-white p-6 rounded-2xl shadow-lg border border-gray-200 hover:shadow-2xl hover:scale-[1.01] transition-all duration-300;
  }


  /* Text Classes */

  .my-title {
    @apply text-3xl lg:text-5xl font-bold text-gray-900 tracking-tight mb-6;
  }

  .my-paragraph {
    @apply text-lg text-gray-600 leading-relaxed;
  }

  .my-fineprint {
    @apply text-sm text-gray-500 leading-snug;
  }

  /* Navbar Classes */
  .my-navbar {
    @apply bg-primary-300/5 backdrop-blur-md shadow-md sticky top-0 z-50;
  }

  .my-nav-button {
    @apply block py-2 px-3 text-gray-900 rounded-sm md:hover:bg-transparent md:hover:text-primary-500 md:p-0;
  }


  /* Form Classes */
  .my-input {
    @apply block border border-gray-300 w-full p-3 rounded-lg mb-4 text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-primary-400 focus:border-primary-400;
  }

  .my-button {
    @apply bg-primary-300 text-white px-6 py-2 rounded-xl shadow-md hover:scale-105 hover:shadow-xl transition-all duration-300 ease-in-out;
  }

  .my-button-glass {
    @apply bg-white/20 backdrop-blur-md border border-white/30 text-gray-900 px-6 py-2 rounded-full shadow hover:bg-white/30 transition;
  }

  /* Misc Classes */
  .my-spinner {
    @apply border-4 border-gray-300 border-t-primary-300 rounded-full w-6 h-6 animate-spin;
  }
}
