@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Primary colors */
  --color-primary-100: #84CEA0;
  --color-primary-200: #54B277;
  --color-primary-300: #339959;
  --color-primary-400: #1C8342;
  --color-primary-500: #09682C;

  /* Secondary colors */
  --color-secondary-100: #7CABBD;
  --color-secondary-200: #4C849A;
  --color-secondary-300: #306D84;
  --color-secondary-400: #1C5A71;
  --color-secondary-500: #0B445A;

  /* Accent colors */
  --color-accent-100: #CAF099;
  --color-accent-200: #ACDF69;
  --color-accent-300: #89C041;
  --color-accent-400: #6DA523;
  --color-accent-500: #4F830B;

  --font-sans: "Inter", sans-serif;

}


@layer components {

  /* Container Classes */

  .my-container {
    @apply max-w-7xl mx-auto px-6 py-10;
  }
  .my-section {
    @apply bg-white rounded-2xl p-8 shadow-lg mb-10 transition hover:shadow-xl;
  }
  
  /* A fixed one or two column grid. */
  .my-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
  }

  /* A dynamically sized flexbox. */
  .my-flexbox {
    @apply flex flex-col md:flex-row md:flex-wrap justify-center gap-4 mt-4;
  }

  .my-card {
    @apply bg-white p-6 rounded-2xl shadow-lg border border-gray-200 hover:shadow-2xl hover:scale-[1.01] transition-all duration-300;
  }

  .my-button {
    @apply bg-secondary-300 text-white px-6 py-2 rounded-xl shadow-md hover:scale-105 hover:shadow-xl transition-all duration-300 ease-in-out;
  }

  .my-button-glass {
    @apply bg-white/20 backdrop-blur-md border border-white/30 text-white px-6 py-2 rounded-full shadow hover:bg-white/30 transition;
  }

  /* Text Classes */

  .my-title {
    @apply text-3xl lg:text-5xl font-bold text-gray-900 tracking-tight mb-6;
  }
  .my-paragraph {
    @apply text-lg text-gray-600 leading-relaxed;
  }

  /* Navbar Classes */
  .my-navbar {
    @apply bg-white/90 backdrop-blur-md shadow-md sticky top-0 z-50
  }

  .my-nav-button {
    @apply block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-secondary-500 md:p-0
  }

}
