 <!doctype html>
 <html lang="en">
   <head>

      <!-- Title Block -->
      <title>{% block title %}{% endblock %}</title>

     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     {# Doesn't work for some reason <meta name="htmx-config" content='{"scrollIntoViewOnBoost":"false"}'>#}
     <link href="/static/css/output.css" rel="stylesheet">
     <link href="/static/css/flowbite.min.css"  rel="stylesheet" />
     <script src="/static/js/htmx.min.js"></script>
     <script>
      htmx.onLoad(function(content) {
          initFlowbite();
      });
    </script>
      <!-- Close Nav Dropdown When Clicking Nav Links Script -->
      <script>
        document.addEventListener('DOMContentLoaded', function() {
           function closeUserDropdown() {
              const dropdown = document.getElementById('user-dropdown');
              if (dropdown && !dropdown.classList.contains('hidden')) {
                 dropdown.classList.add('hidden');
              }
           }

           // Close the dropdown after HTMX request
           document.body.addEventListener('htmx:afterSwap', function(evt) {
              closeUserDropdown();
           });
        });
     </script>
   </head>

   <body>
      <script src="/static/js/flowbite.min.js"></script>

      <!-- Navbar Block -->
      {% block primary_navbar %}
      {% endblock %}
      {% block secondary_navbar %}
      {% endblock %}

      <!-- Content Block -->
      <div id="primary-content" class="my-container">
        {% block content %}
        {% endblock %}
      </div>
   </body>
 </html>


 


