
{% macro render_container(container, show_point_values, freeze_buttons) %}
  <div class="hidden sm:block my-section my-dashboard-gradient" data-comment={{ container.name }}>
    <div class="my-section-header">
      <h2 class="my-section-title text-4xl mt-2">{{ container.name }}</h2>
    </div>
    {% for table in container.tables %}
      {% call render_table(table, show_point_values=show_point_values, freeze_buttons=freeze_buttons) %}
    {% endfor %}
  </div>
{% endmacro %}

{% macro render_table(table, show_point_values, freeze_buttons) %}

  <table class="my-table table-fixed w-full mt-4">
    <col>
    {% for scoring_category in table.scoring_categories %}
      <colgroup span="{{ scoring_category.values.len() }}"></colgroup>
    {% endfor %}
    
    {# Label the Scoring Categories #}
    <thead class="my-table-head text-center sticky top-16 z-10">
      {# Create the Overall Scoring Category Headers #}         
      <tr>
        {# Empty Padding to Align Everything #}
        <th class="w-1/6"></th>

        {% for scoring_category in table.scoring_categories %}
          <th class="my-table-cell text-2xl" colspan="{{ scoring_category.values.len() }}" scope="colgroup">
              {{ scoring_category.name }} 
          </th>
        {% endfor %}
        {# If there is only one scoring category then the item to be graded may have an antithesis. This leaves room for that #}
          {# Removing this unless I am specifically asked to add this back, because I'm tired of this grandpa.
          {# If there is only one scoring category then the item to be graded may have an antithesis. This leaves room for that #}
          {% if table.scoring_categories.len() == 1 %}
            <th class="my-table-cell w-[15%]"></th>
          {% endif %}
          #}
      </tr>

      {# Create the Detailed Scoring Headers #}
      <tr>
        {# Empty Padding to Align Everything #}
          <th class="my-table-cell w-1/6"></th>

          {% for scoring_category in table.scoring_categories %}
            {% let last_scoring_category = loop.last %}
            {% for header in scoring_category.values %}
              <th class="my-table-cell text-l md:text-xl p-1 wrap-break-word {% if !last_scoring_category && loop.last %}border-r border-gray-300 last:border-0{% endif %}">
                {{ header }}
              </th>
            {% endfor %}
          {% endfor %}
          {# 
            Removing this unless I am specifically asked to add this back, because I'm tired of this grandpa.
          {# If there is only one scoring category then the item to be graded may have an antithesis. This leaves room for that #}
          {% if table.scoring_categories.len() == 1 %}
            <th class="my-table-cell w-[15%]"></th>
          {% endif %}
          #}
      </tr>
    </thead>

    {# ------- CREATE THE TABLE BODY -------- #}
    <tbody>
      {% for row in table.rows %}
        <tr class="my-table-row">
          {# Add the Item Name to the Left Column #}
          <td class="my-table-cell px-2 text-right text-xl border-r border-gray-300">
            {{ row.left_label }}
            {% if row.left_label_subtext != "" %}}<br><span class="my-fineprint">{{ row.left_label_subtext }}</span>{% endif %}
          </td>

          {% for radio_button in row.buttons %}
            {% for radio_option in radio_button.options %}
              {# Add a border between scoring categories for comprehension #}
                <td class="my-table-cell p-1 w-full {% if loop.last %}border-r border-gray-300 last:border-0{% endif %}">
                  <input 
                    type="radio" 
                    name="competency{{ radio_button.name|json }}"
                    id={{ radio_option.id }}
                    value="{{ radio_option.value|json }}"
                    class="hidden peer" 
                    required
                    {% if radio_option.checked %}checked{% endif %}
                    {% if freeze_buttons %}disabled{% endif %}
                  >
                  <label 
                    for={{ radio_option.id }}
                    class="my-exam-radio-label"
                  >
                    {% if show_point_values %}
                      {{ radio_option.value.point_value }}
                    {% endif %}
                  </label>
                </td>
            {% endfor %}
            {# Add the antithesis to the right of the table #}
            {% if row.right_label != "" %}
              <td class="my-table-cell text-left break-words">{{ row.right_label }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro render_bonuses(bonus_items, show_point_values, freeze_buttons) %}

  <div class="my-section hidden sm:block my-dashboard-gradient">
    <div class="my-section-header">
      <h2 class="my-section-title text-4xl text-center">Bonus Points</h2>
    </div>

    <div class="my-grid mt-4">
      {% for bonus_item in bonus_items %}
        <div class="w-full min-h-12 sm:w-1/2 md:w-1/3 lg:w-1/4">
          <input 
            type="checkbox"
            name="bonus_index{{ bonus_item.bonus_index }}"
            value="{{ bonus_item.score }}"
            id="bonus_index{{ bonus_item.bonus_index }}"
            class="hidden peer"
            {% if bonus_item.achieved %}checked{% endif %}
            {% if freeze_buttons %}disabled{% endif %}
          >
          <label for="bonus_index{{ bonus_item.bonus_index }}" class="my-exam-radio-label aspect-4/3">
            {{ bonus_item.name }}{% if show_point_values %} +{{ bonus_item.score }}{% endif %}
          </label>
        </div>
      {% endfor %}
    </div>
  </div>

{% endmacro %}

{# Renders a `TestGrade` object #}
{% macro render_grade(grade, taken_at) %}
  {% if grade.is_passing %}
    <div class="my-section hidden sm:block bg-green-100 hover:bg-green-200 text-center">
  {% else %}
    <div class="my-section hidden sm:block bg-red-100 hover:bg-red-200 text-center">
  {% endif %}

    <div class="my-section-header">
      <h2 class="my-section-title text-4xl">Scoring Information</h2>
    </div>
    <p class="text-xl"><span class="font-semibold">Score: </span> {{ grade.achieved_score }} / {{ grade.max_score }} = {{ "{:.0}"|format(grade.achieved_percent) }}%</p> 
    <p class="text-xl"><span class="font-semibold">Passing Score: </span>{{ "{:.0}"|format(grade.minimum_percent) }}%</p>
    {% if let Some(date) = taken_at %}
      <p class="text-xl"><span class="font-semibold">Date Taken: </span>{{ date.format("%B %d, %Y") }}</p>
    {% endif %}

      {% if grade.is_passing %}
        <p class="font-semibold text-xl"></p>
          Status: 
          <span class="font-bold text-green-700">Passing</span>
        </p>
      {% else %} 
        <p class="font-semibold text-xl">
          Status:
          <span class="font-bold text-red-700">Failing</span> 
        </p>

        {% if !grade.failure_explanations.is_empty() %}
          <ul class="max-h-48 overflow-y-auto mt-4 space-y-2">
            {% for failure_explanation in grade.failure_explanations %}
              <li>
              {% match failure_explanation %}
                {% when FailureExplanation::Score %}
                  <span class="font-medium">Your score of <span class="text-red-600">{{ "{:.0}"|format(grade.achieved_percent) }}</span> is lower than the minimum passing score of <span class="text-red-600">{{ "{:.0}"|format(grade.minimum_percent) }}</span></span>
                  {% when FailureExplanation::Competency with { competency_name, scoring_category_name, scoring_category_value } %}
                  {% if scoring_category_name == "" %}
                    <span class="font-medium">Competency <span class="text-red-600">'{{ competency_name }}'</span> is failing the test because a label of <span class="text-red-600">'{{ scoring_category_value }}'</span> was achieved.</span>
                  {% else %}
                    <span class="font-medium">Competency <span class="text-red-600">'{{ competency_name }}'</span> is failing the test because a label of <span class="text-red-600">'{{ scoring_category_value }}'</span> was achieved for the <span class="text-red-600">'{{ scoring_category_name }}'</span> category.</span>
                  {% endif %}
              {% endmatch %}

              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
</div>
{% endmacro %}
