{% extends "../extensible_templates/main_nav.html" %}

{% block title %}Proctor Dashboard{% endblock %}

{% block content %}

<div class="my-container">
  <div class="my-section">
    <h1 class="py-4 text-3xl font-bold text-gray-800">Test Administration</h1>

    <div class="my-flexbox">
      {% for test_name in test_names %}
        <a 
          href={{ rts.administer_exam(loop.index0) }} 
          hx-boost="true" hx-select="#primary-content" hx-target="#primary-content" hx-swap="outerHTML"
          class="my-card w-full max-w-sm"
        >
          <h5 class="my-title">{{ test_name }}</h5>
          <p class="my-paragraph">Administer this test.</p>
        </a>
      {% endfor %}
    </div>
  </div>
  
  <div class="my-card" hx-get={{ rts.queue_widget }} hx-trigger="load">

</div>

{#
<div hx-get="/queue" hx-select="#queue" hx-trigger="load" class="mt-8 mx-4"></div>

<div hx-get="/broad-test-results" hx-select="#broad-test-results-widget" hx-swap="outerHTML" hx-trigger="load" class="mt-8"></div>

<div hx-get="/search-testee" hx-select="#search-testee-widget" hx-swap="outerHTML" hx-trigger="load" class="mt-8"></div>
#}
{% endblock %}
