<div id="queue">
    <h2 class="py-2 text-2xl font-bold">Testee Queue</h2>
    <table class="min-w-full bg-white">
        <thead>
            <tr>
                <th class="py-2 text-sm md:text-lg font-semibold text-gray-800">First Name</th>
                <th class="py-2 text-sm md:text-lg font-semibold text-gray-800">Last Name</th>
                <th class="py-2 text-sm md:text-lg font-semibold text-gray-800">Test Name</th>
                {% if is_superuser %}
                    <th class="py-2 text-sm md:text-lg font-semibold text-gray-800">
                        <p>Actions</p>
                        {% if is_demo_mode %}<p class="text-sm text-gray-500 font-normal">Disabled for Demo</p>{% else %}{% endif %}
                        
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for queue_entry in queue %}
            {% let testee = queue_entry.user %}
            <tr>
              <td class="py-2 px-4">{{ testee.first_name }}</td>
              <td class="py-2 px-4">{{ testee.last_name }}</td>
              <td class="py-2 px-4">{{ queue_entry.test_name }}</td>
              
              {% if is_superuser %}
                <td class="py-2 px-4">
                  <button
                    id="administer-test-button"   {# ID is used in HX-Trigger response header parsing #}
                    hx-delete="/queue/dequeue?testee_id={{ testee.id }}&test_index={{ queue_entry.test_index }}" 
                    hx-swap="outerHTML"
                    hx-select="#primary-content"
                    hx-target="#primary-content"
                    hx-confirm="Administer Test for {{ testee.first_name }} {{testee.last_name}}?"
                    hx-push-url="true"
                    class="text-blue-600 hover:text-blue-900"
                    {% if is_demo_mode %}disabled{% else %}{% endif %}
                  >Administer Test</button> 
                  <span>|</span>
                  <button 
                    hx-delete="/queue/dequeue?testee_id={{ testee.id }}&test_index={{ queue_entry.test_index }}" 
                    hx-swap="outerHTML"
                    hx-confirm="Are you sure you want to delete {{ testee.first_name }} {{testee.last_name}} from the queue?"
                    hx-target="closest tr"
                    class="text-red-600 hover:text-red-900 hover:underline"
                    {% if is_demo_mode %}disabled{% endif %}
                  >Delete</button>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
