{# Used to display the user's information on the test page. Will be contained within a <form> tag #}

{% match user %}
  {% when None %}
  {% when Some with (info) %}
    <div class="my-card text-center">
      <h2 class="text-2xl font-bold text-ink">Selected User</h2>
      <h2 class="text-xl font-semibold text-ink">
        {{ info.first_name }} {{ info.last_name }}
      </h2>
      <p class="my-paragraph">
        {{ info.email }}
      </p>
      <p class="my-fineprint">The test can now be submitted and will count for this user.</p>
    </div>
{% endmatch %}
