{% extends "../extensible_templates/main_nav.html" %}

{% block title %}Reset Password Request{% endblock %}

{% block content %}
  {% if email_functionality_active %}
    <div class="my-flexbox text-center min-h-[75dvh]">
      <div class="my-card max-w-md mx-auto w-full p-6">
        <h1 class="my-title mb-4">Reset Your Password</h1>
        <p class="my-fineprint mb-6">
          Enter your email address below, and we'll send you a link to reset your password.
        </p>

        <form 
          hx-post="{{ rts.request_password_reset }}"
          hx-target="#{{ ids.password_reset_email_success_container }}"
        >
          <input 
            type="email"
            class="my-input mb-4"
            name="email"
            placeholder="Your email address"
            required
            autocomplete="email"
          />

          <button
            type="submit"
            class="my-button text-xl w-full h-12"
          >
            Send Reset Link
          </button>
        </form>
        <div class="my-fineprint text-green mt-4" id={{ ids.password_reset_email_success_container }}></div>
      </div>
    </div>
  {% else %}
    <div class="my-card my-fineprint text-lg text-center">Email functionality is not configured. It is not possible to reset your password. Please contact your site administrator.</div>
  {% endif %}
    
{% endblock %}
