{% extends "../extensible_templates/main_nav.html" %}

{% block title %}Set New Password{% endblock %}

{% block content %}
  <div class="my-flexbox text-center min-h-[75dvh]">
    <div class="my-card max-w-md mx-auto w-full p-6">
      <h1 class="my-title mb-4">Set Your New Password</h1>
      <p class="my-fineprint mb-6">
        Please enter your new password below. Make sure it's something secure and that you remember it.
      </p>

      <form 
        hx-post="{{ rts.reset_password }}"
        hx-target="#{{ ids.password_reset_status_container }}"
      >
        <input 
          type="password"
          class="my-input mb-4"
          name="new_password"
          placeholder="New password"
          required
          autocomplete="new-password"
          minlength="8"
        />

        <input 
          type="password"
          class="my-input mb-4"
          name="confirm_password"
          placeholder="Confirm new password"
          required
          autocomplete="new-password"
          minlength="8"
        />

        <input
          type="hidden"
          name="token"
          value="{{ token }}"
        />

        <button
          type="submit"
          class="my-button text-xl w-full h-12"
        >
          Update Password
        </button>
      </form>

      <div class="my-fineprint mt-4" id={{ ids.password_reset_status_container }}></div>

    </div>
  </div>
{% endblock %}

