{% extends "../extensible_templates/main_nav.html" %}

{# https://tailwindcomponents.com/components/sign-up-form #}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <div class="my-container animate-fade-in">
    <div class="my-flexbox text-center min-h-[75dvh]">
      <div class="my-card">
        <h1 class="my-title">Sign Up</h1>
        <form method="post" hx-boost="true" hx-target="#primary-content" hx-swap="innerHTML show:none" hx-push-url="true">

          <input type="text" class="my-input" name="first_name"
                 placeholder="First Name" autocomplete="given-name" required />

          <input type="text" class="my-input" name="last_name"
                 placeholder="Last Name" autocomplete="family-name" required />

          <input type="email" class="my-input" name="email"
                 placeholder="Email" autocomplete="email" required />

          <input type="password" class="my-input" name="password"
                 placeholder="Password" autocomplete="new-password" required minlength="8" />

          <input type="password" class="my-input" name="confirm_password"
                 placeholder="Confirm Password" autocomplete="new-password" required minlength="8" />

          <button
            type="submit"
            class="my-button text-xl w-full h-12"
          >Create Account</button>
        </form>

        <div class="my-fineprint text-center mt-4">
          By signing up, you agree to the 
          <a class="underline" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            Terms of Service
          </a> and 
          <a class="underline" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
            Privacy Policy
          </a>
        </div>
        <div class="my-fineprint text-center mt-4">
          Already have an account? 
          <a class="underline" href={{ rts.login}} hx-boost="true" hx-target="#primary-content" hx-swap="innerHTML show:none">
            Log in
          </a>.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
